#version: '3.8'
#
services:
  #   postgres:
  #     image: postgres:15
  #     environment:
  #       POSTGRES_DB: sd_proctor
  #       POSTGRES_USER: postgres
  #       POSTGRES_PASSWORD: postgres
  #     ports:
  #       - "5433:5432"
  #     volumes:
  #       - postgres_data:/var/lib/postgresql/data
  #     healthcheck:
  #       test: ["CMD-SHELL", "pg_isready -U postgres"]
  #       interval: 10s
  #       timeout: 5s
  #       retries: 5
  #
  # redis:
  #   image: redis:7-alpine
  #   ports:
  #     - "6379:6379"
  #   volumes:
  #     - redis_data:/data
  #   healthcheck:
  #     test: ["CMD", "redis-cli", "ping"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5
  ##
  ##  kafka:
  ##    image: bitnami/kafka:latest # <--- The fixed line
  ##    ports:
  ##      - "9092:9092"
  ##    environment:
  ##      # Kafka setup for single-node (standalone) KRaft mode
  ##      KAFKA_CFG_NODE_ID: 0
  ##      KAFKA_CFG_PROCESS_ROLES: controller,broker
  ##      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
  ##      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092 # Note: 'kafka' will resolve to the service name in the Docker network
  ##      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
  ##      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 0@kafka:9093
  ##      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
  ##      # Required for Bitnami image for non-secure listeners
  ##      ALLOW_PLAINTEXT_LISTENER: "yes"
  ##    volumes:
  ##      - kafka_data:/bitnami/kafka
  #
  #
  sd-proctor:
    build: .
    ports:
      - "8000:8000"
    restart: unless-stopped
    volumes:
      - ./app:/app/app
      - insightface_models:/root/.insightface
    env_file:
      - .env
#    environment:
#      # Backend sees coturn via docker network alias
#      - WEBRTC_TURN_SERVERS=[{"urls":"turn:coturn:3478","username":"user","credential":"password"}]
#      - WEBRTC_STUN_SERVERS=stun:stun.l.google.com:19302
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  coturn:
    image: coturn/coturn:latest
    restart: always
    ports:
      - "3478:3478/tcp"
      - "3478:3478/udp"
      - "5349:5349/tcp"
      - "5349:5349/udp"
      - "49152-49200:49152-49200/udp"
    entrypoint:
      - turnserver
      - "-n"
      - "--log-file=stdout"
      - "--min-port=49152"
      - "--max-port=49200"
      - "--user=user:password"
      - "--realm=myrealm"
      - "--external-ip=10.24.17.104"
      - "--listening-port=3478"

volumes:
  insightface_models:
